<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <servlet>
    <servlet-name>AdminServlet</servlet-name>
    <servlet-class>AdminServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>UserServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Register</servlet-name>
    <servlet-class>Register</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CreateIssue</servlet-name>
    <servlet-class>CreateIssue</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>IssueDetails</servlet-name>
    <servlet-class>IssueDetails</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ListServlet</servlet-name>
    <servlet-class>ListServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>LogoutServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>AdminServlet</servlet-name>
    <url-pattern>/AdminServlet/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserDetails</servlet-name>
    <servlet-class>UserDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/UserServlet/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/Register/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CreateIssue</servlet-name>
    <url-pattern>/CreateIssue/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>IssueDetails</servlet-name>
    <url-pattern>/IssueDetails/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ListServlet</servlet-name>
    <url-pattern>/ListServlet/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet/*</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
        <welcome-file>index.html</welcome-file>
		<welcome-file>admin.html</welcome-file>
		<welcome-file>Register.html</welcome-file>
		<welcome-file>User.html</welcome-file>
		<welcome-file>Userlogin.html</welcome-file>
		<welcome-file>admwel.html</welcome-file>
		<welcome-file>NewIssue.html</welcome-file>
    </welcome-file-list>
</web-app>